nav {
    display: flex;
    justify-content: center;
    background-color: #0376c2;
    padding: 1rem;
    margin-bottom: 2rem;
}

a {
    text-decoration: none;
    color: #fff700;
    margin-left: 1rem;
}

a:hover {
    color: #fff;
}